@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html,
  body {
    font-family: var(--font-inter), "Helvetica Neue", "Helvetica", "Arial",
      sans-serif;
    font-weight: 400;
    font-size: 16px;
  }

  h1,
  h2,
  h3 {
    font-family: var(--font-roboto-slab), "Times New Roman", Times, serif;
    font-weight: 700;
  }

  p {
    font-family: var(--font-inter), "Helvetica Neue", "Helvetica", "Arial",
      sans-serif;
    font-weight: 400;
  }

  strong,
  em {
    font-family: var(--font-inter), "Helvetica Neue", "Helvetica", "Arial",
      sans-serif;
    font-weight: 700;
  }

  button,
  nav {
    font-family: var(--font-inter), "Helvetica Neue", "Helvetica", "Arial",
      sans-serif;
    font-weight: 500;
  }
}
